@import '../variables/global';
@import '~@angular/material/theming';
@import '../variables/global';

// Theming
@include mat-core();

$mat-white: (
  500: white,
  contrast: (
    500: $black-87-opacity
  )
);

$mat-black: (
  500: black,
  contrast: (
    500: white,
  )
);

$mat-fusedark: (
  50: #EFF5FB,
  100: #E0ECF8,
  200: #A9D0F5,
  300: #81BEF7,
  400: #58ACFA,
  500: #0160e7,
  600: #0160e7,
  700: #0431B4,
  800: #08298A,
  900: #0B2161,
  A100: #2ECCFA,
  A200: #01A9DB,
  A400: #0489B1,
  A700: #0489B1,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  )
);

$custom-typography: mat-typography-config(
  $font-family: $site-font,
  $headline: mat-typography-level(32px, 48px, 700),
  //$display-1: mat-typography-level(32px, 48px, 600),
  $body-1: mat-typography-level(16px, 24px, 500),
  //$body-2: mat-typography-level(16px, 24px, 500),
  $input:  mat-typography-level(inherit, 1.125, 500),
);

// Palettes
$primary: mat-palette($mat-fusedark);
$accent: mat-palette($mat-light-blue, 600, 400, 700);
$warn: mat-palette($mat-red);

// Create the theme 03_object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

@include angular-material-typography($custom-typography);
// Include theme styles for core and each component used in your app.
@include angular-material-theme($theme);

//.mat-ripple, .mat-radio-ripple, .mat-ripple-element {
//  display: none;
//}

.mat-divider {
  border: 1px solid #A4A4A4;
  margin-bottom: 15px !important;
}

.mat-progress-bar-fill::after {
  background: #5FB404;
}

.mat-icon.mat-primary {
  font-size: 11pt ;
  color: #5FB404;
  font-weight: 800;
}
