.mat-calendar-header {
  background: #0160e7 !important;
  color: #ffffff !important;
}

.mat-calendar-previous-button, .mat-calendar-next-button{
  color: #ffffff !important;
}

.mat-calendar-table {
}
