<!--&lt;!&ndash;<ngfUploadStatus [(percent)]="progress" [httpEvent]="httpEvent"></ngfUploadStatus>&ndash;&gt;-->

<!--<div class="drop-item">-->
<!--  <div class="image" *ngIf="['image/gif','image/png','image/jpeg'].indexOf(file.type)>=0">-->
<!--&lt;!&ndash;    <div class="previewIcon" [ngfBackground]="file"></div>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="description">-->
<!--    <b>{{ file.name }}</b> <br/>-->
<!--    {{ file.type }} - {{ file.size / 1024 / 1024 | number:'.2' }} MB-->
<!--  </div>-->
<!--  <div class="prograssbar-container">-->
<!--    <div class="progress">-->
<!--      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="actions">-->
<!--    <button mat-icon-button color="warn" matTooltip="Bild entfernen"-->
<!--            (click)="removeImage(indx)">-->
<!--      <i class="fal fa-times"></i>-->
<!--    </button>-->
<!--    <button mat-icon-button color="primary" matTooltip="Bild hochladen"-->
<!--            (click)="uploadFile()">-->
<!--      <i class="fal fa-upload"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
