<ebs-messager [onlyOneInstance]="true" #msg></ebs-messager>
<div class="custom-form-groupbox">
  <form #updateProfileFirm="ngForm" ebsFormValidation>
    <div class="left">
      <div class="custom-input-container">
        <div class="custom-label">
          Subkategory
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <mat-select name="subcategory" #subcategory="ngModel" [(ngModel)]="articleDto.SubCategoryId" required
                        ebsEnumSelection ebsInputValidation>
              <mat-option [value]="">
                wählen
              </mat-option>
              <mat-option *ngFor="let subcat of subCategories" [value]="subcat.Id">
                {{subcat.Value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="subcategory?.errors?.required">
              Sub- Kategory fehlt.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="custom-input-container">
        <div class="custom-label">
          Sprache
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <mat-select name="lang" #lang="ngModel" [(ngModel)]="articleDto.LanguageId" required
                        ebsEnumSelection ebsInputValidation>
              <mat-option [value]="'wählen'">
                wählen
              </mat-option>
              <mat-option *ngFor="let language of languages" [value]="language.Id">
                {{language.Value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="lang?.errors?.required">
              Sub- Kategory fehlt.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="custom-input-container">
        <div class="custom-label">
          Verlag
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <mat-select name="publisher" #publisher="ngModel" [(ngModel)]="articleDto.PublisherId" required
                        ebsEnumSelection ebsInputValidation>
              <mat-option [value]="">
                wählen
              </mat-option>
              <mat-option *ngFor="let publr of publishers" [value]="publr.Id">
                {{publr.Value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="publisher?.errors?.required">
              Verlag fehlt.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="custom-input-container">
        <div class="custom-label">
          Author
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <mat-select name="author" #author="ngModel" [(ngModel)]="articleDto.AuthorId" required
                        ebsEnumSelection ebsInputValidation>
              <mat-option [value]="">
                wählen
              </mat-option>
              <mat-option *ngFor="let autr of authors" [value]="autr.Id">
                {{autr.Value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="author?.errors?.required">
              Author fehlt.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="custom-input-container">
        <div class="custom-label">
          Titel
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <input matInput name="title" #title="ngModel" [(ngModel)]="articleDto.Title" type="text" required
                   ebsInputValidation/>
            <mat-error *ngIf="title?.errors?.required">
              Titel fehlt.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="custom-input-container">
        <div class="custom-label">
          Beschreibung
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
          <textarea matInput name="description" #description="ngModel" [(ngModel)]="articleDto.Description" type="text"
                    required ebsInputValidation></textarea>
            <mat-error *ngIf="description?.errors?.required">
              Beschreibung fehlt.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="custom-input-container">
        <div class="custom-label">
          Preis
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <input matInput name="price" #price="ngModel" [(ngModel)]="articleDto.Price" type="string" required
                   ebsInputValidation/>
            <span matSuffix> CHF</span>
            <mat-error *ngIf="price?.errors?.required">
              Preis fehlt.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="custom-input-container">
        <div class="custom-label">
          EAN
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <input matInput name="ean" #ean="ngModel" [(ngModel)]="articleDto.EAN" type="text" required
                   ebsInputValidation/>
            <mat-error *ngIf="ean?.errors?.required">
              EAN- Nummer fehlt.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="custom-input-container">
        <div class="custom-label">
          Erscheinungsjahr
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <input matInput name="release" #release="ngModel" [(ngModel)]="articleDto.ReleaseYear" type="number"
                   ebsInputValidation/>
          </mat-form-field>
        </div>
      </div>
      <div class="custom-input-container">
        <div class="custom-label">
          Anzahl Seiten
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <input matInput name="sites" #sites="ngModel" [(ngModel)]="articleDto.Sites" type="number"
                   ebsInputValidation/>
          </mat-form-field>
        </div>
      </div>
      <div class="custom-input-container">
        <div class="custom-label">
          Lagerbestand
        </div>
        <div class="custom-input">
          <mat-form-field appearance="outline" [color]="'primary'">
            <input matInput name="stock" #stock="ngModel" [(ngModel)]="articleDto.Stock" type="number" required
                   ebsInputValidation/>
            <mat-error *ngIf="ean?.errors?.required">
              Lagerbestand fehlt.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="custom-title">Bilder zum Artikel</div>
    <div class="images">
      <ebs-image-uploader [acceptedTypes]="['image/png', 'image/jpeg', 'image/gif']"
                          [maxSize]="5000000" (infoUpload)="setFiles($event)"></ebs-image-uploader>
    </div>
  </form>
</div>
