:host {
  display: block;
  min-width: 100%;
  text-align: left;

  .left {
    display: inline-block;
    width: 50%;
    padding-right: 20px;
    vertical-align: top;
  }

  .right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}
