:host {
  display: block;
  width: 100%;

  overflow: hidden;

  > .stepper {
    display: block;
    width: 100%;

    > .header {
      display: block;
      width: 100%;

      overflow: hidden;
      position: relative;
    }

    > .content {
      display: block;
      margin-top: 10px;
      width: 100%;

      position: relative;
    }
  }
}
