@import "src/app/@core/scss/variables/global";
@import "src/app/@core/scss/mixins/breakpoints";

:host {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: green;

  > .background {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;

    > .dialog-container {
      display: inline-block;
      min-width: 600px;
      vertical-align: middle;
      background: red;
    }
  }
}
