@import "src/app/@core/scss/variables/global";
@import "src/app/@core/scss/mixins/breakpoints";

:host {
  display: block;
  width: 100%;
  padding: 20px 0 0 0;

  .login-container {
    display: inline-block;
    width: 50%;
    vertical-align: top;

    @include media-breakpoint-down('sm') {
      width: 100%;
    }
  }

  .register-container {
    display: inline-block;
    width: 50%;
    margin-left: 20px;
    max-width: calc(50% - 20px);
    vertical-align: top;

    @include media-breakpoint-down('sm') {
      width: 100%;
      margin-left: 0px;
      max-width: 100%;
    }

    .benefits {
      display: block;
      width: 100%;
      padding: 20px 0 10px 0;

      > p {
        display: block;
        width: 100%;
        margin: 0;
        padding: 2px 0 2px 0;

        > i {
          margin-right: 15px;
          font-size: 14pt;
          //font-weight: 600;
          color: #04B404;
        }
      }
    }

    .links {
      display: block;
      width: 100%;
      padding: 10px 0 0 0;
      text-align: right;

      > a {
        text-decoration: none;
        display: inline-block;
        background-color: $site-theme-blue;
        color: #ffffff;
        padding: 10px 10px 10px 10px;
        border: 1px solid $site-theme-blue;
        font-weight: 500;
      }
    }
  }

  .pwdforgot {
    > a {
      color: #000000;
      text-decoration: underline;
    }
  }
}
