<div class="login-container">
  <form #loginForm="ngForm" ebsFormValidation>
    <ebs-messager [onlyOneInstance]="true"></ebs-messager>
    <div class="custom-input-container">
      <div class="custom-label required">
        Benutzername <span>*</span>
      </div>
      <div class="custom-input">
        <mat-form-field appearance="outline" [color]="'primary'">
          <i matPrefix class="fal fa-user"></i>
          <input matInput name="user" #user="ngModel" [(ngModel)]="loginDto.username" type="text" required email
                 ebsInputValidation/>
          <mat-error *ngIf="user?.errors?.required">
            E-Mail Adresse fehlt.
          </mat-error>
          <mat-error *ngIf="user?.errors?.email">
            E-Mail Adresse invalid.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="custom-input-container">
      <div class="custom-label required">
        Password <span>*</span>
      </div>
      <div class="custom-input">
        <mat-form-field appearance="outline" [color]="'primary'">
          <i matPrefix class="fal fa-key"></i>
          <i matSuffix class="action fal {{ showPwd1 ? 'fa-eye' : 'fa-eye-slash' }}"
             (click)="showPwd1 = !showPwd1"></i>
          <input matInput name="pword" #pword="ngModel" [(ngModel)]="loginDto.pwd"
                 type="{{ showPwd1 ? 'text' : 'password' }}" required ebsInputValidation/>
          <mat-error *ngIf="pword?.errors?.required">
            Passwort fehlt.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="custom-button-container">
    <div class="left-side pwdforgot">
      <a [routerLink]="'/pwtvergessen'"> Passwort vergessen?</a>
    </div>
    <div class="right-side">
      <ebs-promise-button (btnAction)="loginUser()" #loginBtn>anmelden
        <ebs-promise-button-icon>
          <i class="far fa-chevron-right"></i>
        </ebs-promise-button-icon>
      </ebs-promise-button>
    </div>
  </div>
</div>
