:host {
  display: block;
  width: 100%;
  overflow: hidden;

  .category-container {
    display: inline-block;
    max-width: 200px;
    vertical-align: top;
  }

  .filter-container {
    display: inline-block;
    max-width: calc(100% - 200px);
    vertical-align: top;
    padding: 10px 10px 10px 10px;
  }
}
