@import "src/app/@core/scss/variables/global";
@import "src/app/@core/scss/mixins/breakpoints";

:host {
  display: block;
  width: 100%;
  background: green;

  > .background {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);

    overflow-y: scroll;

    position: fixed;
    top: 0;
    left: 0;
    //z-index: 99999;

    > .dialog-container {
      display: inline-block;
      vertical-align: middle;
      background: #ffffff;
      margin-top: 50px;

      //-webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.3);
      //-moz-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.3);
      //box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.3);

      > .title {
        display: block;
        width: 100%;
        background-color: $site-theme-blue;
        color: #ffffff;

        > .text {
          display: inline-block;
          width: calc(100% - 50px);
          padding: 20px;
          text-align: left;
          font-size: 15pt;
        }

        > .icon {
          display: inline-block;
          width: 50px;
        }
      }

      > .content {
        display: block;
        width: 100%;
        padding: 20px;
      }
    }
  }
}
