<ebs-page-header [pagePath]="paths"></ebs-page-header>
<div class="page-container">
  <div class="page-sub-menu">
    <ebs-submenu [url]="'/anmelden'"></ebs-submenu>
  </div>
  <div class="page-content">
    <div class="custom-form-groupbox shadow">
      <div class="custom-title">Registrieren</div>
      <ebs-messager [onlyOneInstance]="true" #msg [duration]="2000"></ebs-messager>
      <ebs-register-form (successpostAction)="redirectAfterRedirection()"></ebs-register-form>
    </div>
  </div>
</div>
