:host {
  display: block;
  width: 100%;

  .actions {
    display: block;
    width: 100%;
    padding: 20px 0 20px 0;
    border-top: 1px solid #eeeeee;

    div {
      display: inline-block;
      width: 50%;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }

    }
  }
}
